body ,
html,
#root { 
  margin:0;
  overflow-x: hidden;
  overflow-y:scroll;
}

/*Scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background:white; 
  
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(192, 191, 191); 
  border-radius: 10px;
}
